*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}
body {
    font-family: "Quintessential", serif;
    color: #111827;
    line-height: 1.6;
    /* background-image: url("https://t4.ftcdn.net/jpg/01/46/40/35/360_F_146403506_381OxD624hppWMQcIbjLuSr8TCW1q2lj.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #D3D3D3; 
   
  
}

#sec1,
#sec2,
#sec3 {
  scroll-margin-top: 150px; 
}

header{
  display: flex;
  height: 150px;
  width: auto;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  background-color: rgb(56,92,103);
  position: sticky;
  top: 0;
  padding-right: 300px;
  
  
}
div#title1{
  
  display: flex;
  gap: 0; 
  
}
div#title{
  display: flex;
  flex-direction: column;           
  justify-content: center; 
}
h6{
  font-weight: normal;
}
div#title h2,
div#title h6 {
  margin: 0;        
  line-height: 1;   
}

nav{
  display: flex;
  justify-content: center;
  gap: 120px;

}
nav>a{
  text-decoration: none;
  color: black;
  font-size: 32px;
}
div.cards>div{
  background-color: transparent;
  width: 550px;
  height: 900px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 17px;
  
  
}
section#container>div.cards>div:hover{
  box-shadow: 3px 3px 30px #ffffff, -3px -3px 30px #ffffff, -3px 3px 30px #ffffff, 3px -3px 30px #ffffff;
  
} 

section#container>div.cards>div img{
  width: 100%;
  height: 80%; 
  object-fit: cover;
  padding-bottom: 20px;

}

section#container>h1{
  line-height: 0.5;
  padding: 8px 24px;
  margin:50px 0px 0px 0px;
  padding-left: 70px;
}
section#container>h2{
  padding: 8px 24px;
  line-height: 0.5;
  
  font-weight: normal;
  margin:0px;
  padding-left: 70px;

}
section#conatiner{
  margin: 0 30px;
}
section#container>div.cards>div h2,
section#container>div.cards>div h3{
  padding: 8px 40px;
  line-height: 0.3;
}
h3{
  color: rgb(114,114,131);
} 
section#container{
  display: flex;
  flex-direction: column;
}
section#container>div.cards>div button{
  margin: auto; 
  border-radius: 10px;
  height: 50px;
  width: 300px;
  margin-top: 25px;

  
} 
section#container>div.cards>div button:hover{
  background-color: teal;
  color:white
}

section#container>div.cards>div>div>i{
  display: flex;
  align-items: center;
  gap: 7px;
  
  text-align: left;
  width: 40px;
  margin:20px 0px 0px 0px;
}
section#container>div.cards>div>div>i.fa-calendar{
  width: 145px;
}
div.icons{
  display: flex;
  gap: 20px 20px;
}




 div.cards{
  display: flex;
  justify-content: flex-start;
  padding: 0px 50px;
  flex-wrap: wrap;
  gap: 50px 120px;
  margin-top:30px;
 }

div.bts>nav>a{
  
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  
}
div.bts>nav>a:hover{
  color: #585353;
  border-bottom: 1px solid teal;
}
div.bts>nav>a:active{
  border-bottom: 1px solid teal;
}
div.bts{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(108, 128, 128);
  border-radius: 20px;
  width: 750px;
  padding: 13px;
  margin: 60px auto auto 70px;
  
}


button{
  font-size: 25px;
  border-radius: 5px;
  height: 30px;
}
nav>a:hover{
  color:#d3d3d3;
}