*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    font-family: "Quintessential", serif;
    color: #111827;
    
    /* background-image: url("https://t4.ftcdn.net/jpg/01/46/40/35/360_F_146403506_381OxD624hppWMQcIbjLuSr8TCW1q2lj.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #D3D3D3; 
   
  
}
header{
  display: flex;
  height: 150px;
  width: auto;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  background-color: rgb(56,92,103);
  position: sticky;
  top: 0;
  padding-right: 300px;
  
  
}
div#title1{
  
  display: flex;
  gap: 0; 
  
}
div#title{
  display: flex;
  flex-direction: column;           
  justify-content: center; 
}
h6{
  font-weight: normal;
}
div#title h2,
div#title h6 {
  margin: 0;        
  line-height: 1;   
}
nav{
  display: flex;
  justify-content: center;
  gap: 120px;

}
nav>a{
  text-decoration: none;
  color: black;
  font-size: 32px;
}
main>section#container1{
  height: auto;
  width: 95vw;
  font-size: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
main>section#container2{
  height: auto;
  width: 95vw;
  
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  align-items: center;
}
main>section#container2>div{
  height: 500px;
  width: 600px;
  
  border-radius: 10px;
  
  
}
main>section#container2>div>div>div{
  border: none;
  background-color: rgb(30, 28, 28);
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  font-size: 45px;
  font-weight: lighter;
}
main>section#container2>div>div{
  display: flex;
  align-items: center;
  margin:30px 0px 5px 20px;
  column-gap: 20px;
 
}
main>section#container2>div{
  margin: auto;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: none;
}
button{
  margin: 15px 28px 0px 0px;
  box-sizing: content-box;
  padding: 15px 20px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}
button:hover{
  background-color: teal;
}
main>section#container2>div:hover{
   box-shadow: 3px 3px 10px rgb(184, 183, 183), -3px -3px 10px rgb(184, 183, 183), -3px 3px 10px rgb(184, 183, 183), 3px -3px 10px rgb(184, 183, 183);
  
}
nav>a:hover{
  color:#d3d3d3;
}

