*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
    font-family: "Quintessential", serif;
    color: #111827;
    
    /* background-image: url("https://t4.ftcdn.net/jpg/01/46/40/35/360_F_146403506_381OxD624hppWMQcIbjLuSr8TCW1q2lj.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #D3D3D3; 
   
  
}
header{
  display: flex;
  height: 150px;
  width: auto;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  background-color: rgb(56,92,103);
  position: sticky;
  top: 0;
  padding-right: 300px;
  
  
}
div#title1{
  
  display: flex;
  gap: 0; 
  
}
div#title{
  display: flex;
  flex-direction: column;           
  justify-content: center; 
}
h6{
  font-weight: normal;
}
div#title h2,
div#title h6 {
  margin: 0;        
  line-height: 1;   
}
nav{
  display: flex;
  justify-content: center;
  gap: 120px;

}
nav>a{
  text-decoration: none;
  color: black;
  font-size: 32px;
}
main>section{
  height: auto;
  width: 80vw;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
main section#box2>div{
  border: none;
  height: 550px;
  width: 570px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}
section#box1>div{
  font-size: 25px;
}
main section#box2>div>div>i{
  
  width: auto;
  text-align: left;
  font-size: 25px;
  margin:20px 0px 0px 0px;
}
main section#box2>div>div{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 20px;

}
main section#box2>div>h1{
  margin-top: 20px;
}
main section#box2>div>button{
  margin: 15px 28px 0px 0px;
  box-sizing: content-box;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}
section#box1>div h3{
  color: gray;
}
section#box1>button{
  margin: 15px 28px 0px 0px;
  box-sizing: content-box;
  padding: 15px 20px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}
section#box2>div:hover{
  box-shadow: 3px 3px 10px rgb(184, 183, 183), -3px -3px 10px rgb(184, 183, 183), -3px 3px 10px rgb(184, 183, 183), 3px -3px 10px rgb(184, 183, 183);
  
} 
section#box1>button:hover{
  background-color: teal;
}
main section#box2>div>button:hover{
  background-color: teal;
}
nav>a:hover{
  color:#d3d3d3;
}

